<!--todos/templates/todos/about.html-->
{% extends 'todos/base.html' %}

{% block title %}О нас{% endblock %}

{% load static %}

{% block content %}
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-md-8 text-center">
                <h1 class="text-center">О нас</h1>
                <h3 class="text-center mt-3">Сайт django-проекта TO-DO_List<br>Разработал студент группы Python-316<br>Компьютерной Академии Топ<br>Михайличенко Алексей.</h3>
                <div class="mt-3">
                    <a href="https://rostov.top-academy.ru/" target="_blank">
                        <img src="{% static 'todos/images/logo_top.jpg' %}" alt="Logo Top Academy" class="img-fluid" style="max-width: 300px;">
                    </a>
                </div>
                <div class="mt-3">
                    <a href="https://t.me/Aleksey_Mich" target="_blank" class="btn btn-primary">
                        <i class="bi bi-telegram"></i> Telegram
                    </a>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
