<!--todos/templates/todos/building_form.html-->
{% extends 'todos/base.html' %}

{% block title %}{% if form.instance.pk %}Редактировать объект{% else %}Добавить объект{% endif %}{% endblock %}

{% block content %}
    <h1>{% if form.instance.pk %}Edit Building{% else %}Добавить объект{% endif %}</h1>
    <form method="post">
        {% csrf_token %}
        <div class="form-group">
            <label for="id_ak">AK</label>
            {{ form.ak }}
        </div>
        <div class="form-group">
            <label for="id_building_name">Название объекта</label>
            {{ form.building_name }}
        </div>
        <div class="form-group">
            <label for="id_address">Адрес</label>
            {{ form.address }}
        </div>
        <button type="submit" class="btn btn-primary">Сохранить</button>
        <a href="{% url 'building_list' %}" class="btn btn-secondary">Отменить</a>
    </form>
{% endblock %}
