<!--todos/templates/todos/building_list.html-->
{% extends 'todos/base.html' %}

{% block title %}Все объекты{% endblock %}

{% block content %}
    <h1>Все объекты</h1>
    <p>Buildings: {{ page_obj.paginator.count }}</p>

    <!-- Поиск по полям AK и названию -->
    <form method="get" class="form-inline justify-content-center mb-3">
        <div class="form-group mx-sm-3 mb-2">
            <label for="ak_search" class="sr-only">Поиск по AK</label>
            <input type="text" class="form-control" id="ak_search" name="ak_search" placeholder="Поиск по AK">
        </div>
        <div class="form-group mx-sm-3 mb-2">
            <label for="name_search" class="sr-only">Поиск по названию</label>
            <input type="text" class="form-control" id="name_search" name="name_search" placeholder="Поиск по названию">
        </div>
        <button type="submit" class="btn btn-primary mb-2">
            <i class="bi bi-search"></i>
        </button>
    </form>

    <!-- Кнопка создания нового объекта -->
    {% if perms.todos.add_building %}
        <div class="text-center mb-3">
            <a href="{% url 'building_create' %}" class="btn btn-primary">Добавить объект</a>
        </div>
    {% endif %}

    <ul class="list-group">
        {% for building in page_obj %}
            <li class="list-group-item">
                <h2><i class="bi bi-building"></i> {{ building.ak }}. {{ building.building_name }}</h2>
                <p>Address: {{ building.address }}</p>
                {% if perms.todos.change_building %}
                    <a href="{% url 'building_update' building.id %}" class="btn btn-warning btn-sm">Редактировать</a>
                {% endif %}
                {% if perms.todos.delete_building %}
                    <a href="{% url 'building_delete' building.id %}" class="btn btn-danger btn-sm">Удалить</a>
                {% endif %}
            </li>
        {% endfor %}
    </ul>

    <!-- Пагинация -->
    <nav aria-label="Page navigation example">
        <ul class="pagination justify-content-end">
            {% if page_obj.has_previous %}
                <li class="page-item">
                    <a class="page-link" href="?page=1" tabindex="-1" aria-disabled="true">Первая</a>
                </li>
                <li class="page-item">
                    <a class="page-link" href="?page={{ page_obj.previous_page_number }}" tabindex="-1" aria-disabled="true">Пред.</a>
                </li>
            {% else %}
                <li class="page-item disabled">
                    <a class="page-link" href="#" tabindex="-1" aria-disabled="true">Пред.</a>
                </li>
            {% endif %}
            {% for page_number in page_obj.paginator.page_range %}
                <li class="page-item {% if page_number == page_obj.number %}active{% endif %}">
                    <a class="page-link" href="?page={{ page_number }}">{{ page_number }}</a>
                </li>
            {% endfor %}
            {% if page_obj.has_next %}
                <li class="page-item">
                    <a class="page-link" href="?page={{ page_obj.next_page_number }}">След.</a>
                </li>
                <li class="page-item">
                    <a class="page-link" href="?page={{ page_obj.paginator.num_pages }}">Посл.</a>
                </li>
            {% else %}
                <li class="page-item disabled">
                    <a class="page-link" href="#">След.</a>
                </li>
            {% endif %}
        </ul>
    </nav>
{% endblock %}
