{% extends 'todos/base.html' %}

{% block title %}Building List{% endblock %}

{% block content %}
    <h1>Building List</h1>
    {% if perms.todos.add_building %}
        <a href="{% url 'building_create' %}">Create New Building</a>
    {% endif %}
    <ul>
        {% for building in buildings %}
            <li class="building-container">
                <h2>{{ building.ak }}. {{ building.building_name }}</h2>
                <p>Address: {{ building.address }}</p>
                {% if perms.todos.change_building %}
                    <a href="{% url 'building_update' building.id %}">Edit</a>
                {% endif %}
                {% if perms.todos.delete_building %}
                    <a href="{% url 'building_delete' building.id %}">Delete</a>
                {% endif %}
            </li>
        {% endfor %}
    </ul>
{% endblock %}

