<!--todos/templates/todos/personal_account.html-->
{% extends 'todos/base.html' %}

{% block title %}Личный кабинет{% endblock %}

{% block content %}
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-md-8">
                <h1 class="text-center">Аккаунт</h1>
                <h3 class="text-center">Имя пользователя: {{ user.username }}</h3>
                <h3 class="text-center">Email: {{ user.email }}</h3>
                <h3 class="text-center">Имя: {{ user.first_name }}</h3>
                <h3 class="text-center">Фамилия: {{ user.last_name }}</h3>
            </div>
        </div>
    </div>
{% endblock %}
