{% extends 'todos/base.html' %}

{% block title %}Task List{% endblock %}

{% block content %}
    <h1>Task List</h1>
    <p>Привет, {{ request.user }}!</p>
    <p>Задач: {{ tasks.count }}</p>
    <p>Пользователей: {{ users_count }}</p>
    {% if perms.todos.add_task %}
        <a href="{% url 'task_create' %}" class="btn btn-primary mb-3">Create New Task</a>
    {% endif %}
    <ul class="list-group">
        {% for task in tasks %}
            <li class="list-group-item task-container">
                <p>Title: {{ task.title }}</p>
                <p>Description: {{ task.description }}</p>
                {% if task.building %}
                    <p>Building: {{ task.building.ak }}. {{ task.building.building_name }} ({{ task.building.address }})</p>
                {% endif %}
                <p>Assigned to: {{ task.assigned_to.username }}</p>
                <p>Created at: {{ task.created_at }}</p>
                <p>Status: <span class="badge {% if task.status == 'active' %}badge-success{% else %}badge-warning{% endif %}">{{ task.status }}</span></p>
                {% if perms.todos.change_task %}
                    <a href="{% url 'task_update' task.id %}" class="btn btn-warning btn-sm">Edit</a>
                {% endif %}
                {% if perms.todos.delete_task %}
                    <a href="{% url 'task_delete' task.id %}" class="btn btn-danger btn-sm">Delete</a>
                {% endif %}
                <a href="{% url 'commentary_create' task.id %}" class="btn btn-primary btn-sm">Add Commentary</a>
                <div class="commentary-container mt-3">
                    {% for commentary in task.commentaries.all %}
                        <div class="commentary-item">
                            <p>User: {{ commentary.user.username }}</p>
                            <p>Text: {{ commentary.text }}</p>
                            <p>Created at: {{ commentary.created_at }}</p>
                            {% if perms.todos.change_commentary %}
                                <a href="{% url 'commentary_update' commentary.id %}" class="btn btn-warning btn-sm">Edit</a>
                            {% endif %}
                            {% if perms.todos.delete_commentary %}
                                <a href="{% url 'commentary_delete' commentary.id %}" class="btn btn-danger btn-sm">Delete</a>
                            {% endif %}
                        </div>
                    {% endfor %}
                </div>
            </li>
        {% endfor %}
    </ul>
{% endblock %}




