{% extends 'todos/base.html' %}

{% block title %}Login{% endblock %}

{% block content %}
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-md-6">
                <h1 class="text-center">Login</h1>
                <form method="post">
                    {% csrf_token %}
                    <div class="form-group">
                        <label for="id_username">Username</label>
                        {{ form.username }}
                    </div>
                    <div class="form-group">
                        <label for="id_password">Password</label>
                        {{ form.password }}
                    </div>
                    <button type="submit" class="btn btn-primary btn-block">Login</button>
                </form>
                <p class="text-center mt-3">Don't have an account? <a href="{% url 'register' %}">Register</a></p>
                <p class="text-center mt-3">Forgot your password? <a href="{% url 'password_reset' %}">Reset it</a></p>
            </div>
        </div>
    </div>
{% endblock %}
