{% extends 'todos/base.html' %}

{% block title %}Отправлен сброс пароля{% endblock %}

{% block content %}
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-md-6">
                <h1 class="text-center">Отправлен сброс пароля</h1>
                <p class="text-center">Мы отправили вам по электронной почте инструкции по установке пароля.
 Если вы не получили электронное письмо, пожалуйста, убедитесь, что вы ввели адрес
, на который указывали при регистрации, и проверьте папку со спамом.</p>
            </div>
        </div>
    </div>
{% endblock %}
